* {
    overflow: hidden;
}

hr {
    border-top: 1px solid white;
}

body { margin: 0; background-color: black; overflow: hidden; }
canvas { display: block; }
.jumbotron {
    background: none
}

a{
    color: white !important;
    font-style: italic;
}
a:hover {
    color: #cccccc !important;
    text-decoration: underline;
    cursor: pointer;
}

#exhibition-info {
    color: white !important;
    font-size: 100%;
    text-align: center;
}

#c {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
    /*background: url(back.jpg) no-repeat center center;
    background-size: cover;*/
}

#loading {
    font-weight: bold;
    font-style: italic;
}

#content {
    overflow: hidden;
}

#project-encyclopedia-about a:hover {
    color: #cccccc !important;
    text-decoration: underline;
    cursor: pointer;
}

#project-encyclopedia img:hover {
    cursor: pointer;
}

.nav-link {
    color: white;
    font-weight: normal;
    font-style: italic;
}

.nav-link.active {
    color: white !important;
    background-color: transparent !important;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.nav-link:hover {
    color: #cccccc !important;
    text-decoration: underline;
    cursor: pointer;
}

.white-box{
    border: 1px white solid;
    color: white !important;
    padding-left: 3;
    padding-right: 3;
    padding-top: 0;
    padding-bottom: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.link-text {
    color: white;
    font-weight: normal;
    font-style: italic;
   
}

.link-text:hover {
    color: #cccccc !important;
    text-decoration: underline;
    cursor: pointer;
}

.link-text:visited {
    color: white;
    font-weight: normal;
    font-style: italic;
}

#info-component {
    overflow-x: hidden;
    overflow-y: auto !important;
}

#image-component {
    overflow-x: hidden;
    overflow-y: auto !important;
}

#reference-component {
    overflow-x: hidden;
    overflow-y: auto !important;
}


#pills-video {
    overflow-x: hidden;
    overflow-y: auto !important;
}

#text-component {
    overflow-x: hidden;
    overflow-y: auto !important;
}

.sc1 {
    -webkit-overflow-scrolling: touch;
}
.sc1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.sc1::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.sc1::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}

.text-font {
    color: #ccc;
    font-weight: normal;
    font-size: 100%;
}

.text-font-small {
    color: #ccc;
    font-weight: normal;
    font-size: 80%;
}

.text-font-small-dark {
    color: #444 !important;
    font-weight: normal;
    font-size: 80%;
}

.text-bold {
    font-weight: bold;
    font-style: italic;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-indent {
    text-indent: 40px;
}

.content-background {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    /*background-color: rgba(255, 255, 255, 0.1);*/

    
}
/*
.carousel-item {
    background-color: black;
}

.carousel-inner {
    border-color: #222 !important;
}
*/
.carousel {
    position: relative;
    padding: 0 0 0 0;
}
.carousel-inner {
    padding: 56.25% 0 0 0;
    position: relative;
    /*border-color: #222 !important;*/
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.carousel-item img {
    width: auto !important;
    /*
    height: 480px;
    max-height: 480px;
    */
    margin: auto;
    height: 100%;
}

.carousel-control-prev-icon {

    opacity : 0.5;
}

.carousel-control-next-icon {

    opacity : 0.5;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5px;
    left: 15%;
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: center;
}

.carousel-caption p {
    margin-bottom: 0.3rem;
}
.ref-spinner {
    text-align: center;
    margin: 30px;
}
@media (min-width: 1281px) {
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 12px;
        left: 20px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 200%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #project-encyclopedia img{
        width:72px;
    }



    #pills-tab {
        margin-top:3rem;
        margin-bottom:2%;
        font-size: 150%;
    }



    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }

    

    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 30px;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        width: auto;
        height: 100%;
        display: block;
    }

    .info-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        display: block;
        background-color: black;
    }
    .content-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        display: block;
        background-color: black;
    }
    /*
    .carousel-item img {
        width: auto !important;
        height: 40%;
        max-height: 720px;
    }
    */
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
}



@media (min-width: 1025px) and (max-width: 1280px) {
    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 12px;
        left: 20px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 180%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #project-encyclopedia img{
        width:72px;
    }



    #pills-tab {
        margin-top:3rem;
        margin-bottom:2%;
        font-size: 150%;
    }



    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }

    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 30px;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 720px;
        height: auto;
        */
        margin: auto;
        width: auto;
        height: 100%;
        display: block;
    }

    .info-video {
        margin: auto;
        width: auto;
        height: 40%;
        min-height: 240px;
        max-height: 600px;
        min-width: 0px;
        display: block;
        background-color: black;
    }
    .content-video {
        margin: auto;
        width: auto;
        height: 40%;
        min-height: 240px;
        max-height: 600px;
        min-width: 0px;
        display: block;
        background-color: black;
    }
    /*
    .carousel-item img {
        width: auto !important;
        height: 40%;
        max-height: 640px;
    }
    */
    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
}



@media (min-width: 768px) and (max-width: 1024px) {
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 12px;
        left: 20px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 150%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #project-encyclopedia img{
        width:72px;
    }



    #pills-tab {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 150%;
    }



    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }

    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 180%;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
        min-width: 240px;
        max-width: 720px;
        height: auto;
        display: block;
    }

    .info-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80%;
        min-width: 240px;
        max-width: 720px;
        height: auto;
        display: block;
        background-color: black;
    }
    .content-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 90%;
        min-width: 240px;
        max-width: 720px;
        height: auto;
        display: block;
        background-color: black;
    }
    /*

    .carousel-item img {
        width: auto !important;
        
        height: 480px;
        max-height: 480px;
        

    }
    */
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 10px;
        left: 16px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 120%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 16px;
        right: 16px;
        display: none;
    }

    #project-encyclopedia img{
        width:72px;
    }



    #pills-tab {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 120%;
    }



    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }

    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 120%;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        /*height: 30%;*/
        min-height:240px;
        max-height:700px;
        min-width: 0px;
        display: block;
    }

    .info-video {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        height: 30%;
        min-width: 0px;
        min-height:240px;
        max-height:700px;
        display: block;
        background-color: black;
    }
    .content-video {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        height: 30%;
        min-width: 0px;
        min-height:240px;
        max-height:700px;
        display: block;
        background-color: black;
    }
    /*
    .carousel-item img {
        
        width: auto !important;

        height: 70%;
        min-height:240px;
        max-height:700px;
    }
    */
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
}



@media (min-width: 481px) and (max-width: 767px) {
    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 8px;
        left: 12px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 100%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 12px;
        right: 12px;
        display: none;
    }

    #project-encyclopedia img{
        width:60px;
    }



    #pills-tab {
        margin-top:1rem;
        margin-bottom:1rem;
        font-size: 80%;
    }


    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }

    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 80%;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 3rem;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        height: 30%;
        min-height:240px;
        max-height:700px;
        display: block;
    }

    .info-video {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        height: 30%;
        min-height:240px;
        max-height:700px;
        display: block;
        background-color: black;
    }
    .content-video {
        margin: auto;
        /*
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        */
        width: auto;
        height: 30%;
        min-height:240px;
        max-height:700px;
        display: block;
        background-color: black;
    }
    /*
    .carousel-item img {
        width: auto !important;
        height: 260px;
        max-height: 260px;
    }
    */

    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
}



@media (min-width: 320px) and (max-width: 480px) {
    /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */

    #project-encyclopedia-about {
        position: fixed;
        top: 8px;
        left: 12px;
        display: none;
    }

    #project-encyclopedia-about a{
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 100%;
    }

    #project-encyclopedia {
        position: fixed;
        bottom: 12px;
        right: 12px;
        display: none;
    }

    #project-encyclopedia img{
        width:60px;
    }



    #pills-tab {
        margin-top:1rem;
        margin-bottom:1rem;
        font-size: 80%;
    }



    .content-component {
        max-width: 80rem;
        margin:auto;
        padding-left: 2%;
        padding-right: 2%;
        
    }


    .ref-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 200px;
        max-width: 400px;
        display: block;
    }

    .object-title {
        color: white !important;
        background-color: transparent !important;
        font-weight: bold;
        font-style: italic;
        font-size: 80%;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        bottom: 3rem;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .info-img {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        display: block;
    }

    .info-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 85%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        display: block;
        background-color: black;
    }

    .content-video {
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 95%;
        min-width: 240px;
        max-width: 800px;
        height: auto;
        display: block;
        background-color: black;
    }

    /*
    .carousel-item img {
        width: auto !important;
        height: 200px;
        max-height: 200px;
    }
    */

    .text-font {
        color: #ccc;
        font-weight: normal;
        font-size: 90%;
        /*line-height: 1.6;*/
    }
    .text-font-small {
        color: #ccc;
        font-weight: normal;
        font-size: 70%;
    }

    .carousel-caption  {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .carousel-caption p {
        margin-bottom: 0rem !important;
    }
    /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    */
}



